@model IEnumerable<MvcBach.Models.Student>

@{
    ViewData["Title"] = "Shearch";
}

<h1 asp-action="Shearch" >Student Tìm Kiếm</h1>
 <form asp-action="Shearch">
 
    <input type="text" name="searchTen" placeholder="Nhập tên cần tìm...">
    <button  asp-action="Shearch" type="submit">Tìm kiếm</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>